@import '../../../styles/colors.less';
@import '../../../styles/fonts.less';

.adv{
    &__bg{
        background-color: @grayishBlue;
        padding-right: 72px;

        @media (max-width:1199px) {
            padding-right: 36px;
        }

        @media (max-width:767px) {
            padding-right: 0 !important;
        }
    }
    &__card{
        flex-basis: 320px;
        height: 616px;
        position: relative;
        background-color: @grayishWhite;
        transition: all 0.3s ease;
        border-radius: 240px;
        overflow: hidden;
        cursor: pointer;
    
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            border-radius: 240px;
            z-index: 1;

            @media (max-width:767px) {
                border-radius: 174px;
            }
        }

        @media (max-width:1199px) {
            width: auto;
            flex: 0 0 230px;
            height: 448px;
        }

        @media (max-width:991px) {
            flex: 1 1 33.3%;
        }

        @media (max-width:767px) {
            flex: 0 0 230px;
            border-radius: 174px;
        }
    }
}


.card{
    &__container{
        display: flex;
        justify-content: flex-end;
        gap: 16px;

        &::-webkit-scrollbar {
            display: none;
        }

        @media (max-width: 991px) {
            justify-content: flex-start;
            overflow-y: scroll;
            scroll-behavior: smooth;
        }
    }
    &__image{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: @grayishWhite;

        img{
            object-fit: cover;
        }

    }
    &__box{
        width: 100%;
        height: 100%;
        padding: 48px 28px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;
    }
    &__title{
        position: relative;
        z-index: 1000;
        text-align: center;
        .text(700,24px,125%,@white);
        text-transform: uppercase;

        @media (max-width:1199px) {
            font-size: 17px;
        }
    }
    &__text{
        position: relative;
        z-index: 1000;
        max-width: 200px;
        text-align: center;
        .text(400,16px,125%,@white);

        @media (max-width:1199px) {
            font-size: 11px;
        }
    }
    &__wide{
        flex-basis: 640px;

        @media (max-width:1199px) {
            flex-basis: 460px;
        }

        @media (max-width:991px) {
            flex-basis: 33.3%;
        }

        @media (max-width:767px) {
            flex-basis: 230px;
        }
    }
    &__short{
        flex-basis: 160px;

        @media (max-width:1199px) {
            flex-basis: 115px;
        }

        @media (max-width:991px) {
            flex-basis: 33.3%;
        }

        @media (max-width:767px) {
            flex-basis: 230px;
        }
    }
}


.hider{
    transition: 0.3s;
    opacity: 0;

    @media (max-width: 991px) {
        opacity: 1;
    }
}

