@import '../../../styles/colors.less';
@import '../../../styles/fonts.less';

.adv{
    &__bg{
        background-color: @grayishBlue;
        padding-right: 72px;

        @media (max-width:1199px) {
            padding-right: 36px;
        }

        @media (max-width:767px) {
            padding-right: 0 !important;
        }
    }
    &__card{
        position: relative;
        width: 100%;
        height: 616px;
        padding: 48px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        overflow: hidden;
        border-radius: 240px;
        cursor: pointer;

        @media (max-width:1199px) {
            height: 440px;
        }

        @media (max-width: 991px) {
            padding: 48px 24px;
        }

        @media (max-width:767px) {
            min-width: 240px;
            height: 440px;
            padding: 48px;
        }
    }
    &__box{
        display: flex; 
        justify-content: flex-end;
        flex: 1 1 auto;
    }
    &__carousel{
        flex: 1 1 auto;
        max-width: 991px;
        justify-content: flex-end;
        flex-wrap:nowrap;
        flex-direction: row;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }

        @media (max-width:767px) {
            justify-content: flex-start;
        }
    }
}


.card{
    &__image{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    
        img{
            object-fit: cover;
        }

    }
    &__title{
        position: relative;
        z-index: 1000;
        text-align: center;
        .text(700,24px,125%,@white);

        @media (max-width:767px) {
            font-size: 17px;
        }
    }
    &__text{
        position: relative;
        z-index: 1000;
        max-width: 200px;
        text-align: center;
        .text(400,16px,125%,@white);

        @media (max-width:767px) {
            font-size: 11px;
        }
    }
}


.animate{
    &:hover{
        animation: pulse 1s 1;
        flex-basis: 70%;
    }
}

.animate:hover ~ .animate:not(:hover) .card__title,
.animate:hover ~ .animate:not(:hover) .card__text {
    color: red;
    opacity: 0;
}

// .animate:hover ~ .animate .card__title,
// .animate:hover ~ .animate .card__text {
//     color: red;
//     opacity: 0;
// }

@keyframes pulse {
    0% {
        flex-basis: 0%;
    }
    50% {
        flex-basis: 70%;
    }
    70% {
        flex-basis: 68%;
    }
    100% {
        flex-basis: 70%;
    }
}