<div class="container adv__bg">
    <div class="card__container">
        <div class="adv__card" [id]="i" *ngFor="let data of cards; let i = index" #block (mouseenter)="onMouseEnter(block,i)" (mouseleave)="onMouseLeave(block,i)">
                <div class="card__box">
                    <h1 class="card__title" [ngClass]="!active.has(i) && NotallActive ? 'hider' : ''">{{data.title}}</h1>
                    <h3 class="card__text" [ngClass]="!active.has(i) && NotallActive ? 'hider' : ''">{{data.text}}</h3>
                </div>
                <div class="card__image">
                    <img [src]="'../../../../assets/img/advantages/'+ data.bg" alt="advantages">
                </div>
        </div>
    </div>
</div>
