<div class="container adv__bg">
    <div nz-row [nzGutter]="[60,36]">
        <h2 nz-col>Преимущества</h2>
        <div nz-col class="adv__box">
            <div nz-row [nzGutter]="[16]" class="adv__carousel">
                <div nz-col *ngFor="let card of cards" class="animate">
                    <div class="adv__card" [ngStyle]="{'background-image': 'url(' + card.bg + ')'}">
                        <ng-container>
                            <h1 class="card__title">{{card.title}}</h1>
                            <h3 class="card__text">{{card.text}}</h3>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
