.player{
    &__content{
        width: 100%;
        height: 680px;
        border-radius: 32px;

        @media (max-width:1199px) {
            height: 400px;
        }

        @media (max-width:767px) {
            height: 600px;
        }
    }
}
