<main nz-row [nzGutter]="[0,36]" class="home__main">
    <!-- <section nz-col nzSpan="24">
        <go-main></go-main>
    </section>
    <section nz-col nzSpan="24">
        <go-advantages></go-advantages>
    </section>
    <section nz-col nzSpan="24">
        <go-about></go-about>
    </section>
    <section nz-col nzSpan="24">
        <go-boon></go-boon>
    </section>
    <section nz-col nzSpan="24">
        <go-rates></go-rates>
    </section> -->
    <!-- <section nz-col nzSpan="24">
        <go-feedback></go-feedback>
    </section>
    <section nz-col nzSpan="24">
        <go-faq></go-faq>
    </section> -->
    <section nz-col nzSpan="24">
        <go-contacts></go-contacts>
    </section>
</main>
