<main nz-row [nzGutter]="[0,36]" class="home__main">
    <!-- <section nz-col nzSpan="24" #main>
        <go-main></go-main>
    </section>  -->
    <!-- <section nz-col nzSpan="24" #adv>
        <go-advantages></go-advantages>
    </section> -->
    <!-- <section nz-col nzSpan="24" #about>
        <go-about></go-about>
    </section> -->
    <section nz-col nzSpan="24">
        <go-boon></go-boon>
    </section>
    <!-- <section nz-col nzSpan="24" #rates>
        <go-rates></go-rates>
    </section> -->
    <!-- <section nz-col nzSpan="24" #feedback>
        <go-feedback></go-feedback>
    </section> -->
    <!-- <section nz-col nzSpan="24" #faq>
        <go-faq></go-faq>
    </section> -->
    <!-- <section nz-col nzSpan="24" #contacts>
        <go-contacts></go-contacts>
    </section> -->
</main>
