<div class="rates__container">
    <div class="container rates__bg" *ngFor="let card of cards">
        <div class="rates__header">
            <ul class="header__list">
                <li>
                    <h1 class="list__title">{{card.name | translate}}</h1>
                </li>
                <li>
                    <h3 class="list__price">{{card.price | translate}}</h3>
                </li>
            </ul>
        </div>
        <div class="rates__body">
            <ul class="body__info">
                <li>{{card.time | translate}}</li>
                <li>{{card.person | translate}}</li>
                <li>{{card.volume | translate}}</li>
                <li class="description">{{card.amount | translate}}</li>
            </ul>
            <ul class="rates__footer">
                <div nz-row [nzGutter]="[0,16]">
                    <div nz-col nzSpan="24">
                        <p class="description">
                            {{card.text | translate}}
                        </p>
                    </div>
                    <div nz-col nzSpan="24">
                        <button class="rates__button">{{'rates.button' | translate}}</button>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>



